/*common.css公共样式*/

*{
    margin:0;
    padding:0;
    list-style:none;
}
.clearfix:after{
    display:block;
    content:"";
    clear:both;
}
.clearfix{
    zoom:1;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
img{
    display:block;
}
h1,h2,h3,h4,h5,h6,p,i,strong,em,b,a，span{

    font-size:12px;
    text-decoration:none;
    font-family: "Microsoft YaHei";
    font-weight:normal;
    font-style:normal;
}
